<!--

  O----I======> Sito realizzato da www.Tuip.it <======I----O

    ████████╗██╗   ██╗██╗██████╗  ██╗████████╗
    ╚══██╔══╝██║   ██║██║██╔══██╗ ██║╚══██╔══╝
       ██║   ██║   ██║██║██████╔╝ ██║   ██║   
       ██║   ██║   ██║██║██╔═══╝  ██║   ██║   
       ██║   ╚██████╔╝██║██║██╗   ██║   ██║   
       ╚═╝    ╚═════╝ ╚═╝╚═╝╚═╝   ╚═╝   ╚═╝   

  O----I======> Sito realizzato da www.Tuip.it <======I----O

-->
  
  
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.php" class="logo d-flex align-items-center">
        <img class="logo-img" src="/site/assets/img/Logo-lungo.png" alt="">
        
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.php">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Chi siamo</a></li>
          <li class="dropdown"><a href="#"><span>Servizi</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/site/siti_vetrina_service.php">Siti Vetrina</a></li>
              <li><a href="/site/ecommerce_service.php">Ecommerce</a></li>
              <li><a href="/site/social_service.php">Social Manager</a></li>
              <li><a href="/site/grafiche_service.php">Grafiche Personalizate</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="getstarted scrollto" href="#contact"><i class="bi bi-arrow-down-circle"></i>&nbsp;Contattaci</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->